body{
	margin: 0;
}

header{
	width: 100%;
	background: #CD853F url(logo.jpg) no-repeat 10% 50%;
	height: 110px;
}

.title{
	font-size: 40px;
	padding-top: 30px;
	text-align: center;
}


.menu {
	text-align: center;
}

.menu ul {
	background: #FFE4B5;
	overflow: hidden;
	padding: 0;
	display: inline-table;
}


.menu li{
	float: left;
	color: #8B4513;
	display: inline;
}


.menu a {
	display: block;
	color: #000000;
	padding: 1em;
	border-right: 1px solid #8B4513;
	background: #FFE4B5;
}

h1 {
	text-align: center;
}

.link-list {
	 display: block;
	 margin: auto;
	 width: 30%;
}


.table-test, .form {
	display: block;
	margin: auto;
	width: 20%;
}


table, th, td {
    border: 1px solid black;
		height: 50px;
}

.even {
	background: #808000;
}


.notEven {
	background: #6B8E23;
}

footer{
	width: 100%;
	background: #CD853F;
	height: 40px;
	padding: 20px 0;
	margin: 10px 0 0 0;
}

footer p{
	font-size: 16px;
}
