body{
	margin: 0;
}

header{
	width: 100%;
	background: #bb5ae8 url(image.png) no-repeat 5% 50%;
	height: 110px;	
}

.test{
	width: 100%;
	text-align: center;
	
}

.center{
	display: inline-block;
}

li{
	text-align: left;
}

.title{
	font-size: 36px;
	padding-top: 30px;
	text-align: center;
}

.menu ul {
	overflow: hidden;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu li{
	float: left;
	color: #e6ecf0;
}

.menu a {
	display: block;
	padding: 1em;
	border: 1px solid #ADC0CE;
	background: #e6ecf0;
	color: #29838C;
}

.colorrr {
  background:pink;
}
table{
  background: #ADC0CE;
}

table, th, td {
    border: 1px solid black;
	margin: 10px auto;
}

footer{
	width: 100%;
	background: #bb5ae8;
	height: 40px;
	padding: 20px 0;
	margin: 10px 0 0 0;
}

footer p{
	font-size: 16px;
}
